* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
  }

  body {
    background-color: #00B0FF;
  }
  
  .container { 
    height: 100%;
    width: 100%;
    background-color: #00B0FF;
  }
  
  .accueil {
    margin: 0 25%;
    height: 100%;
    width: 50%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .accueil .nav {
    height: 75%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.595);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accueil img {
    top: 0%;    
  }

  .accueil h1 {
    margin-top: 10%;  
    font-size: 2.5em;
  }
  
  .accueil .nav a {
    color: white;
    font-weight: bold;
  }
  
  .accueil .nav ul {
    justify-self: center;
    border-radius: 30px;
    border: 1px solid rgb(128, 128, 128);
    background-color: #00B0FF;
    text-align: center;
    padding: 7% 0%;
    width: 200px;
    margin-top: 50%;
  }

  .accueil .nav ul:hover {
    transform: translateY(50%);
    transition: all ease 1.5s;
  }

.membres .container {
    text-align: center;
    margin-top: 5%;
    width: 100%;
    background-color: #00B0FF;
    color: white;
}

.membres .container .menu {
    width: 80%;
    height: 70%;
    background-color: white;
    margin: 0 10%;
    margin-top: 3%;
    display: flex;
    color: black;
}

.membres .container .menu .bloc1 {
    width: 25%;
    height: 100%;
    border-right: solid 10px #00B0FF;
    box-shadow: 0 3px 10px black;
}

.membres .container .menu .bloc2 {
    width: 25%;
    height: 100%;
    border-right: solid 10px #00B0FF;
    box-shadow: 0 3px 10px black;
}

.membres .container .menu .bloc3 {
    width: 25%;
    height: 100%;
    border-right: solid 10px #00B0FF;
    box-shadow: 0 3px 10px black;
}

.membres .container .menu .bloc4 {
    width: 25%;
    height: 100%;
    box-shadow: 0 3px 10px black;
}

.membres .container .menu img {
    margin-top: 20%;
}

.membres .container .menu h1 {
    margin-top: 20%;
}

.membres .container .menu a {
    display: flex;
    margin-top: 20%;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid rgb(128, 128, 128);
    background-color: #00B0FF;
    text-align: center;
    padding: 5% 0%;
    width: 200px;
    color: white;
    margin-left: 15%;
}

.membres .container .menu a:hover {
    transform: translateY(50%);
    transition: all ease 1.5s;
    background-color: white;
    color: black;
  }







  footer.signature .text {
    margin-top: 3%;
    height: 10%;
    background-color: #00B0FF;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    bottom: 0;
  }
  
  footer.signature .text h6 {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  footer.signature h6 {
    color: white;
  }